@mixin buttonstyles
{
  min-width: fit-content;
  min-height: fit-content;
  padding: 1vw 2vw;
  margin: 1vw 2vw;
  display:inline-block;
  text-align:center;
  color: black;
  transition: 0.2s;

  &:hover{
    filter: brightness(80%);
  }
}


.root
{
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  height: 100%;
  min-width: fit-content;
  background-color: darkgray;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  color:black;

  h1{
    color: black;
  }


  .backLink
  {
    text-decoration: none;
  }
  .backButton{
    background-color: orange;
    align-items: center;
    justify-content: center;

    @include buttonstyles;
  }


  .mainDiv
  {
    margin-left: auto;
    margin-right: auto;
  }

  .buttonDiv
  {
    margin-top:1em;
    margin-right: 1px;
  }

  .deleteButton
  {
    background-color: red;
    @include buttonstyles;
  }
  .orderButton
  {
    background-color: green;
    @include buttonstyles;
  }
}
