.root
{
  margin-left: auto;
  margin-right: auto;
  overflow-x: scroll;
  overflow-y: scroll;
  scroll-behavior: smooth;


  .maintable
  {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
}