.root{
  display: grid;
  background-color: lightblue;
  border-radius: 0% 0% 25px 25px;
  width: 80%;
  height: 5%;
  align-self: center;

  /* Responsive columns */
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));

  gap: 1rem;
  padding: 1rem;

  @mixin navmembers
  {
    width: 100%;
    height: 100%;
    padding: 10px ;
    text-align: center;
    box-sizing: border-box;
  }

  .navsearch
  {
    @include navmembers;
  }

  .navbutton
  {
    @include navmembers;
    background-color:forestgreen;
  }
}